head{
  padding: 0;
  margin: 0;
}
body{
  font: 15px/1.5 Century Gothic;
  padding: 0;
  margin:0;
  background: #f4f4f4

}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*header{
  background: #35424a;
  color: #ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom:#e8491d 3px solid;

}
header #ppw{
  float: left;
}

header #ppw h1{
  margin: 0;
}
*/
#profile{
  min-height: 400px;
  background: url("/static/img/city.jpg") no-repeat 0;
  margin:inherit;
  background-size: 100%;
  text-align: center;

}

#profile .nama{
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 0px;
  color: #ffffff;
}

#profile .npm{
  margin-top: 0px;
  font-size: 40px;
  margin-bottom: 0px;
  color: #ffffff;
}

#profile .jurusan{
  margin-top: 0px;
  font-size:  30px;
  color: #ffffff;
  margin-bottom: 10px;

}

#profile .ava{
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 30%;
  border-radius: 50%;
}

#Hobi {
  margin-top: 20px;
  margin: auto;
  text-align: center;


}

#Hobi .box{
  float: left;
  width: 30%;
  padding: 10px;;

}


#Hobi img{
  width: 90px;
}

#Hobi .responsive{
  width: 30%;
  height: auto;
}



li a{
    font-family: Calibri;
    font-weight: 300;
    font-size: 17px;
    color: white;
}

.my-nav{
  overflow: auto;
  background-color: #181818;
  color: #FDFDFDFD;
  padding-top: 30px;
  min-height: 70px;


}

.my-nav a{
  text-decoration: none;
  font-size:16px;
}

.my-nav li{
  display: inline;
  font: Century;
}

.duelH h1{
  text-align: center;

}

.homepage{
  width: 150%;
}

@media only screen and (min-device-width: 400px) {
  .homepage {
    width: 108%;

  }
}

.desc{
  margin-top: auto;
  margin-bottom: auto;
}


footer{
  overflow: auto;
  background-color: #181818;
  color: #FDFDFDFD;
  position: absolute;
  left: 0;
  right: 0;
}

.btncol{
  font: Century;
  font-size: 10px;

}
