<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>My Biodata</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>
    <section id = "profile">
      <div class="container">
        <img src="{% static 'img/profilenew.jpg' %}" alt="Responsive image" class="ava">

        <h1 title="Fullname" style="font-size:5vw;" class="nama">Lado Rayhan Najib</h1>
        <h2 title="NPM" style="font-size:3vw;"class= "npm">1806141265</h2>
        <p title="Major | College | Class of 2018 "style="font-size:2vw;"class = "jurusan"> Computer Science | University of Indonesia | 2018</p>

      </div>
    </section>

    <section id ="Hobi">
      <div class="container">
        <h1 title="Hobby" style="font-size:2vw;">Hobby</h1>
        <div class="box">
          <img style=""src="{% static 'img/a.png' %}" alt="Responsive image" class="responsive">
          <h3>Music</h3>
          <p>Singing, Playing Guitar, Listening Music, etc</p>
        </div>
        <div class="box">
          <img src="{% static 'img/b.png' %}" alt="Responsive image" class="responsive">
          <h3>Sport</h3>
          <p>Playing Soccer, Basket, Badminton, Futsal, etc</p>
        </div>
        <div class="box">
          <img src="{% static 'img/c.png' %}" alt="Responsive image" class="responsive">
          <h3>Movie</h3>
          <p>Watching Movie, Making Film, etc</p>
        </div>

      </div>
    </section>

  </body>
</html>
